/* estilos: locais, especificos */

ol {
    list-style-type: none;
}

.container-fluid {
    color: white;
    margin-top: 300px;
}

.right-image {
    display: block;
    width: 30%;
    margin-top: -300px;
    margin-left: 1000px;
}

p, img, a.btn{
    margin-top: 30px;
}

h1 {
    text-align: left;
}
