html,body,#root {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.btn-primary{
  background-color:#954cf3;
  border: 1px solid #954cf3;
}

.btn-primary:hover {
  background-color: #7135bd;
  border: 1px solid #7135bd;
}

.form-control{
  background-color: black;
  color: white;
}

.form-control:focus {
  background-color: black;
  border: 1px solid black;
  color: white;
  box-shadow: 0 0 0 0.25rem #954cf3;
}